@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
  font-family: "Poppins", sans-serif;
  background: rgba(8, 3, 32, 1);
  width: 100%;
}
.header {
  width: 95%;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  font-size: 40px;
  width: 136px;
  height: 50px;

  background: -webkit-linear-gradient(
    10deg,
    rgba(99, 55, 255, 1),
    rgba(39, 170, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 20px 0;
}
.navbar-menu a {
  text-decoration: none;
  padding: 0 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  color: white;
}
.navbar-menu li a:hover {
  background: -webkit-linear-gradient(
    20deg,
    rgba(99, 55, 255, 1),
    rgba(39, 170, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header .fa-user {
  font-size: 1.4rem;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  color: blue;
  box-shadow: 0px -3px 12px 0px #0062ff;
  width: 40px;
  height: 40px;
  text-align: center;
}
.container {
  text-align: center;
  place-items: center;
  margin: 60px 20px;
}
.container .hero {
  place-content: center;
  display: grid;
  place-items: center;
  width: 90%;
  height: 387px;
}
.container .hero h1 {
  margin: -10px;
  font-size: 70px;

  background: -webkit-linear-gradient(
    10deg,
    rgba(99, 55, 255, 1),
    rgba(39, 170, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .hero p {
  font-size: 20px;
  align-content: center;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  margin: 40px;
}
.container .hero .btn {
  width: 630px;
  height: 75px;
}
.container .hero .btn .btn1 {
  padding: 15px 25px;
  border-radius: 20px;
  margin: 0 10px;
  border: none;
  box-shadow: 0px 0px 2px 1px #0000e7;
  background-color: rgba(55, 0, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  transition: 0.5s;
}
.container .hero .btn .btn1:hover {
  cursor: pointer;
  background-color: rgb(23, 185, 64);
  transform: scale(1.1);
}
.container .hero .btn .btn2 {
  padding: 15px 25px;
  border-radius: 20px;
  margin: 0 10px;
  border: none;
  box-shadow: 0px 0px 4px 1px #002aff;
  background-color: rgba(5, 2, 16, 0.121);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  cursor: pointer;
}
.hero .btn .btn1 .btn2:hover {
  background-color: rgba(55, 0, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.team {
  width: 60%;
  height: auto;
}
.team h1 {
  font-size: 35px;

  background: -webkit-linear-gradient(
    10deg,
    rgba(99, 55, 255, 1),
    rgba(39, 170, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.team .card-team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateX(-68px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateX(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateX(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}
.team .card-team .card {
  margin: 30px 0;
  width: 210px;
  height: 270px;
  background-color: #d9d9d94e;
  border-radius: 20px;
  box-shadow: 0px 0px 14px 1px #d9d9d95a;
  border: 2px solid blue;
  transition: 1s;

  opacity: 0.9;
  animation: myAnim 2s ease 0s 1 normal ;
}
.team .card-team #card .card{
  animation: myAnim 2s ease 0s 1 normal ;
} 
.team .card-team .card:hover {
  transform: scale(1.1);
  opacity: 1;
}
.team .card-team .card img {
  margin: 20px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.team .card-team .card h3 {
  color: #ffffff;
}
.about-team {
  width: 85%;
  margin: 30px 0;
}
.about-team h1 {
  padding: 20px 0;
  height: auto;
  background-color: #ffffff;
  font-size: 35px;

  background: -webkit-linear-gradient(
    10deg,
    rgba(99, 55, 255, 1),
    rgba(39, 170, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-team .infor-team {
  margin: 40px 0;
  display: flex;
  width: 100%;
  height: auto;
  background-color: #d9d9d962;
  border-radius: 20px;
}
@media only screen and (max-width: 600px) {
  .about-team .infor-team {
    display: block;
  }
  .header .logo {
    font-size: 30px;
  }
  .navbar-menu a {
    font-size: 10px;
  }
  .navbar-menu ul li {
    display: none;
  }
}
.about-team .infor-team img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  margin: 10px;
}
.about-team .infor-team .infor {
  text-align: start;
  width: 100%;
  margin: 20px;
  color: #ffffff;
  font-size: 1.2rem;
}
.infor-team .infor h2 {
  padding: 20px;
}
.infor-team .infor p {
  padding: 30px;
}
/* feature and technology */
.feature {
  padding: 10px 0;
  width: 90%;
  text-align: center;
  place-items: center;
}
.feature h1 {
  margin: 20px 0;
  padding: 10px;
  font-size: 35px;
  background: -webkit-linear-gradient(
    10deg,
    rgba(99, 55, 255, 1),
    rgba(39, 170, 255, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.feature .feature-techno {
  width: 90%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.feature .feature-techno .card-skill {
  align-content: center;
  width: 300px;
  height: 400px;
  background-color: #d9d9d962;
  margin: 30px;
  border-radius: 20px;
}
.feature .feature-techno .card-skill img {
  height: 230px;
  width: 230px;
  border-radius: 10px;
}
.feature .feature-techno .card-skill:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.feature .feature-techno .card-skill p {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  padding: 10px;
  margin: 10px 0;
}
